html
    head
        title React
    body
        hr
        div(id='hello')
        hr
        div(id='simple')
        hr
        div(id='map')
        hr
        div(id='stylemap')
        hr
        div(id='textfield')
        hr
        div(id='kanban')
    script(src='js/main.js')
