html
    head
        title React
    body
        hr
        div(id='hello')
        hr
        div(id='simple')
        hr
        div(id='textfield')
        hr
        div(id='notes')
        hr
    script(src='js/main.js')
